@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main, .game, .website,
.game-inside, .website-inside {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
}

main, .game-inside, .website-inside {
  height: 100%;
  width: 100%;
}

.game, .website {
  height: 100%;
  width: 50%;
}

.game-inside, .website-inside,
main a h1, .overview {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.2s ease-in-out;
}

.game, .website {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game {
  background-image: url("/game/img/maps/tileMap.png");
}

.game-inside {
  background: rgba(0, 0, 0, 0.9);
}

.website {
  background-image: url("/website/images/bush.png");
}

.website-inside {
  background: rgba(0, 0, 0, 0.7);
}

.game-inside:hover,
.website-inside:hover {
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.website-inside:hover {
  background: rgba(0, 0, 0, 0.6);
}

.game-inside:hover {
  background: rgba(0, 0, 0, 0.8);
}

main a h1 {
  padding: 20px;
  color: white;
  font-weight: 100;
  transition: 0.2s ease-in-out;
}

.website-inside h1 {
  background-color: rgba(28, 206, 105, 0.1);
  border-left: 4px solid rgb(28, 206, 105);
  border-right: 4px solid rgb(28, 206, 105);
}

.game-inside h1 {
  background-color: rgba(194, 227, 232, 0.1);
  border-left: 4px solid rgb(194, 227, 232);
  border-right: 4px solid rgb(194, 227, 232);
}

.website-inside h1:hover, 
.game-inside h1:hover {
  color: black;
  cursor: pointer;
}

.website-inside h1:hover {
  background-color: rgb(28, 206, 105);
}

.game-inside h1:hover {
  background-color: rgb(194, 227, 232);
}

.overview {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  border-left: 4px solid white;
  border-right: 4px solid white;
  color: white;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}

.overview h1 {
  font-weight: 200;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 2000px)  {
  main {
    flex-direction: column;
  }
  .game {
    height: 50%;
    width: 100%;
  }
  .website {
    height: 50%;
    width: 100%;
  }
  .overview {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 900px)  {
  main {
    font-size: 1.5rem;
  }
  .overview {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px)  {
  main {
    font-size: 1.2rem;
  }
  .overview {
    font-size: 1.2rem;
  }
}