@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 99;
}

.navbar-nav {
  flex: 1;
}

.nav-link.active {
  font-weight: 300;
  border-bottom: 2px solid rgb(28, 206, 105);
  color: rgb(28, 206, 105) !important;
}

.nav-item {
  flex-grow: 1; 
}

.nav-link {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 200;
  color: #cccccc;
  transition: color 0.15s ease;
}

.nav-link:hover {
  color: white;
}

.hero-section {
  background-image: url('images/bush.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  text-align: center;
  /* text-shadow: 1px 1px 3px black; */
}

.hero-section h1 {
  background-color: rgb(28, 206, 105);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 150px;
  color: #2d2d2d;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-section h1 span,
.hero-section p span {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 0.6s forwards;
}

.hero-section p {
  background-color: #2d2d2d;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 40px;
  font-weight: 100;
  color: white;
  margin-top: -20px;
}

.hero-section p span {
  animation-delay: 0.6s;
}

.content-section {
  padding: 100px 0;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

textarea {
  resize: none;
  overflow: hidden;
}

#about, #work, #certifications,
#projects, #reachout {
  color: #eeeeee;
}

#about {
  background-color: rgba(0, 0, 0, 0.8);
}

#work {
  background-color: rgba(0, 0, 0, 0.4);
}

#certifications {
  background-color: rgba(0, 0, 0, 0.7);
}

#projects {
  background-color: rgba(0, 0, 0, 0.5);
}

#reachout {
  background-color: rgba(0, 0, 0, 0.9);
}

#contact-form .form-control {
  background-color: #444; 
  color: white; 
  border: none; 
}

#contact-form .form-control::placeholder {
  color: #aaaaaa; 
}

label {
  color:rgb(28, 206, 105)
}


#contact-form .form-control:focus {
  background-color: #666; 
  color: white; 
  border: none; 
  outline: none; 
}

#contact-form .btn {
  background-color: black;
  color:rgb(28, 206, 105);
  border: none;
}

.section-header {
  background-color: rgba(0, 0, 0, 0.4); 
  line-height: 1.6;
  color: #dddddd;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.about-description, .work-experience, .certification-box, .project-box {
  font-size: 20px;
  line-height: 1.6;
  color: #dddddd;
  background-color: rgba(0, 0, 0, 0.4); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

#contact-form {
  font-size: 20px;
  line-height: 1.6;
  color: #dddddd;
  background-color: rgba(0, 0, 0, 0.4); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

strong {
  color: rgb(30, 223, 114);
  font-weight: 700;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff; 
}

.content-section h2 {
  margin-top: 0;
  margin-bottom: 40px;
}
